@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: auto;
  width: 25.875rem;
  background-color: white;
  font-family: sans-serif;
}

@keyframes Menu {
  0% {
    transform: scaleY(0);
  }
  17% {
    transform: scaleY(0.2);
  }
  24% {
    transform: scaleY(0.4);
  }
  46% {
    transform: scaleY(0.6);
  }
  85% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes content-page {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes check-rotation {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(-180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 1;
  }
}
@keyframes check-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  color: white;
  padding-left: 1.6rem;
  padding-top: 1.3rem;
  height: 11rem;
  background-color: #404040;
  position: relative;
  width: 100%;
}
.footer .fa-utensils {
  padding-right: 0.4rem;
}
.footer p:nth-child(1) {
  font-family: "Shrikhand", cursive;
  font-size: 1.3rem;
}
.footer p {
  margin: 0px;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
}
.footer p span {
  margin-left: 0.6rem;
  font-size: 1.1rem;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.header__logo {
  margin: auto;
  padding-top: 1.9rem;
  padding-bottom: 1.2rem;
  height: 2rem;
  width: 12.5rem;
}
.header__logo img {
  height: 100%;
  width: 100%;
}
.header__localisation {
  border-top: 3px solid #d6d6d6;
  background-color: #ededed;
  color: #404040;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header__localisation p {
  margin: auto;
  width: 12.5rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}
.header__localisation i {
  padding-right: 0.8rem;
  font-size: 0.9rem;
}
.header__reservation {
  background-color: #f3f3f3;
  padding-bottom: 2.5rem;
  padding-top: 3.4rem;
}
.header__reservation h2 {
  margin: auto;
  text-align: center;
  width: 16.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.header__reservation p {
  width: 17.5rem;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  color: gray;
  margin-bottom: 2rem;
}
.header__reservation a {
  display: block;
  width: 15.6rem;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  background: radial-gradient(farthest-corner at 12.5rem 5rem, #9356DC, #f779d3);
  border-radius: 2.1rem;
  padding: 1.2rem;
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 3px 10px silver;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.header__reservation a:hover {
  box-shadow: 0.1rem 0.18rem 0.6rem #737373;
}
.header__reservation a:hover::after {
  border-radius: 2.1rem;
  opacity: 1;
}
.header__reservation a::after {
  border-radius: 2.1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(farthest-corner at 12.5rem 5rem, #a16be0, #f891db);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.fonctionnement h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1.25rem;
  margin-top: 2.5rem;
}
.fonctionnement__etape {
  margin-left: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.3rem;
  width: 90%;
  border-radius: 1.25rem;
  box-shadow: 2px 3px 10px #d9d9d9;
  background-color: white;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.fonctionnement__etape .fa-1, .fonctionnement__etape .fa-2, .fonctionnement__etape .fa-3 {
  position: relative;
  left: -0.5rem;
  background-color: #9356DC;
  color: white;
  font-size: 0.6rem;
  padding: 0.5rem;
  height: 0.45rem;
  border-radius: 1.25rem;
}
.fonctionnement__etape div:nth-child(2) {
  text-align: center;
  width: 2.5rem;
  font-size: 1rem;
  color: #8d8d8d;
}
.fonctionnement__etape div:nth-child(3) {
  padding-left: 0.6rem;
  width: 12.5rem;
}
.fonctionnement__etape div:nth-child(3) p {
  padding: 0px;
  margin: 0px;
  font-size: 0.9rem;
  font-weight: 700;
}
.fonctionnement__etape:hover {
  margin-left: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.3rem;
  width: 90%;
  border-radius: 1.25rem;
  box-shadow: 2px 3px 10px #d9d9d9;
  background-color: #fdd9f3;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.fonctionnement__etape:hover .fa-1, .fonctionnement__etape:hover .fa-2, .fonctionnement__etape:hover .fa-3 {
  position: relative;
  left: -0.5rem;
  background-color: #9356DC;
  color: white;
  font-size: 0.6rem;
  padding: 0.5rem;
  height: 0.45rem;
  border-radius: 1.25rem;
}
.fonctionnement__etape:hover div:nth-child(2) {
  text-align: center;
  width: 2.5rem;
  font-size: 1rem;
  color: #9356DC;
}
.fonctionnement__etape:hover div:nth-child(3) {
  padding-left: 0.6rem;
  width: 12.5rem;
}
.fonctionnement__etape:hover div:nth-child(3) p {
  padding: 0px;
  margin: 0px;
  font-size: 0.9rem;
  font-weight: 700;
}

.chargement {
  margin: auto;
  width: 25rem;
  position: absolute;
  z-index: 0;
  top: 38vh;
}
.chargement p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
.chargement__progress {
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 2.5rem;
  opacity: 1;
  border-radius: 15px;
  background-color: #9356DC;
  margin: auto;
  transform-origin: left;
  transform: scaleX(0);
  animation: progress-bar 1000ms 500ms;
}

.content {
  margin: auto;
  width: 25.875rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation: content-page 1000ms 1200ms both;
}

.main {
  margin-top: 4.3rem;
  background-color: #f6f6f6;
  padding: 0.4rem;
}
.main__heading {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1.25rem;
  margin-top: 2.5rem;
}
.main__card {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 0.4rem;
  padding-bottom: 1.8rem;
}
.main__card__content {
  margin-bottom: 1.5rem;
  position: relative;
  box-shadow: 2px 3px 10px #d9d9d9;
  background-color: white;
  width: 92%;
  height: 16.2rem;
  border-radius: 1rem;
  margin-left: 1rem;
}
.main__card__content div:nth-child(1) {
  height: 11.2rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.main__card__content div:nth-child(1) .image1 {
  position: relative;
  top: -3.1rem;
  width: 100%;
  height: 14.3rem;
  object-fit: cover;
}
.main__card__content div:nth-child(1) .image2 {
  position: relative;
  top: -4rem;
  width: 22.5rem;
  height: 15rem;
  object-fit: cover;
}
.main__card__content div:nth-child(1) .image3 {
  position: relative;
  top: -3.75rem;
  width: 100%;
  height: 14.3rem;
  object-fit: cover;
}
.main__card__content div:nth-child(1) .image4 {
  position: relative;
  top: -4rem;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.main__card__content div:nth-child(2) {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.main__card__content div:nth-child(2) div:nth-child(1) {
  height: 5rem;
}
.main__card__content div:nth-child(2) div:nth-child(1) h3 {
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
  padding-top: 1rem;
  font-weight: bold;
  padding-left: 1rem;
}
.main__card__content div:nth-child(2) div:nth-child(1) h4 {
  margin: 0px;
  padding: 0px;
  padding-left: 1rem;
  padding-top: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
.main__card__content div:nth-child(2) div:nth-child(2) {
  height: 2rem;
  margin-right: 2.1rem;
  margin-top: 1rem;
}
.main__card__content div:nth-child(2) div:nth-child(2) .fa-heart {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: #cccccc;
  position: relative;
  z-index: 1;
}
.main__card__content div:nth-child(2) div:nth-child(2) .fa-heart:hover {
  color: #9356DC;
}
.main__card__content div:nth-child(2) div:nth-child(2) .fa-heart:hover::after {
  opacity: 1;
}
.main__card__content div:nth-child(2) div:nth-child(2) .fa-heart::after {
  content: "";
  margin-block-end: 3px;
  position: absolute;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  top: 0.35rem;
  right: 0.2rem;
  bottom: 0.15rem;
  overflow: hidden;
  left: 0.19rem;
  background-color: #9356DC;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.main__card--md {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 0.4rem;
  padding-bottom: 1.8rem;
}
.main__card--md__content {
  margin-bottom: 1.5rem;
  position: relative;
  box-shadow: 2px 3px 10px #d9d9d9;
  background-color: white;
  width: 92%;
  height: 16.2rem;
  border-radius: 1rem;
  margin-left: 1rem;
}
.main__card--md__content div:nth-child(1) {
  height: 11.2rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.main__card--md__content div:nth-child(1) .image1 {
  position: relative;
  top: -3.1rem;
  width: 100%;
  height: 14.3rem;
  object-fit: cover;
}
.main__card--md__content div:nth-child(1) .image2 {
  position: relative;
  top: -4rem;
  width: 22.5rem;
  height: 15rem;
  object-fit: cover;
}
.main__card--md__content div:nth-child(1) .image3 {
  position: relative;
  top: -3.75rem;
  width: 100%;
  height: 14.3rem;
  object-fit: cover;
}
.main__card--md__content div:nth-child(1) .image4 {
  position: relative;
  top: -4rem;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.main__card--md__content div:nth-child(2) {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.main__card--md__content div:nth-child(2) div:nth-child(1) {
  height: 5rem;
}
.main__card--md__content div:nth-child(2) div:nth-child(1) h3 {
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
  padding-top: 1rem;
  font-weight: bold;
  padding-left: 1rem;
}
.main__card--md__content div:nth-child(2) div:nth-child(1) h4 {
  margin: 0px;
  padding: 0px;
  padding-left: 1rem;
  padding-top: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
.main__card--md__content div:nth-child(2) div:nth-child(2) {
  height: 2rem;
  margin-right: 2.1rem;
  margin-top: 1rem;
}
.main__card--md__content div:nth-child(2) div:nth-child(2) .fa-heart {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: #cccccc;
  position: relative;
  z-index: 1;
}
.main__card--md__content div:nth-child(2) div:nth-child(2) .fa-heart:hover {
  color: #9356DC;
}
.main__card--md__content div:nth-child(2) div:nth-child(2) .fa-heart:hover::after {
  opacity: 1;
}
.main__card--md__content div:nth-child(2) div:nth-child(2) .fa-heart::after {
  content: "";
  margin-block-end: 3px;
  position: absolute;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  top: 0.35rem;
  right: 0.2rem;
  bottom: 0.15rem;
  overflow: hidden;
  left: 0.19rem;
  background-color: #9356DC;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.main__card--md__new {
  text-align: center;
  position: absolute;
  top: 0.8rem;
  right: 2.8rem;
  z-index: 1;
  width: 5.5rem;
  height: 1.6rem;
  background-color: #a1f9e3;
  color: #0a916f;
  font-weight: bolder;
  font-size: 0.9rem;
  padding-top: 0.35rem;
  border-radius: 0.12rem;
}

.header-pg {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-pg div:nth-child(1) {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 0.9rem;
  justify-content: left;
  margin-left: 2rem;
}
.header-pg div:nth-child(1) a {
  display: block;
  color: #5a5a5a;
  padding-top: 0.5rem;
}
.header-pg div:nth-child(1) a .fa-arrow-left {
  font-size: 1.4rem;
  font-weight: bold;
}
.header-pg div:nth-child(1) div {
  width: 18.75rem;
  text-align: center;
}
.header-pg div:nth-child(1) div img {
  height: 2rem;
  width: 12.6rem;
}
.header-pg div:nth-child(2) {
  overflow: hidden;
}
.header-pg div:nth-child(2) img {
  width: 25.875rem;
  height: 19rem;
  object-fit: cover;
}

body {
  background-color: #ededed;
}

.main-pg {
  background-color: #ededed;
  position: relative;
  border-top-left-radius: 3.4rem;
  border-top-right-radius: 3.4rem;
  top: -4rem;
  z-index: 1;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.main-pg__hd {
  display: flex;
  justify-content: space-between;
}
.main-pg__hd p {
  font-family: "Shrikhand", cursive;
  margin-right: 1rem;
  font-size: 1.8rem;
  font-weight: 100;
}
.main-pg__hd div {
  margin-right: 2.5rem;
  margin-top: 1.6rem;
  height: 1.8rem;
}
.main-pg__hd div .fa-heart {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: #cccccc;
  position: relative;
  z-index: 1;
}
.main-pg__hd div .fa-heart:hover {
  color: #9356DC;
}
.main-pg__hd div .fa-heart:hover::after {
  opacity: 1;
}
.main-pg__hd div .fa-heart::after {
  content: "";
  margin-block-end: 2px;
  position: absolute;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  top: 0.35rem;
  right: 0.18rem;
  bottom: 0.15rem;
  overflow: hidden;
  left: 0.2rem;
  background-color: #9356DC;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.main-pg__ent {
  transform: scaleX(1);
  animation: Menu 1000ms 1000ms both;
  transform-origin: center top;
}
.main-pg__ent > p:nth-child(1) {
  margin: 0px;
  font-size: 1rem;
  color: #5a5a5a;
  text-transform: uppercase;
}
.main-pg__ent hr {
  margin: 0px;
  width: 3rem;
  border: 1px solid #a1f9e3;
  margin-top: 0.35rem;
  margin-bottom: 1rem;
}
.main-pg__ent__rc {
  display: flex;
  align-items: stretch;
  width: 95%;
  height: 4.8rem;
  box-shadow: 5px 3px 20px #cccccc;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
}
.main-pg__ent__rc div:nth-child(1) {
  width: 75%;
}
.main-pg__ent__rc div:nth-child(1) p:nth-child(1) {
  padding: 0px;
  margin: 0px;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-pg__ent__rc div:nth-child(1) p:nth-child(2) {
  padding: 0px;
  margin: 0px;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
}
.main-pg__ent__rc div:nth-child(2) {
  width: 30%;
  padding-top: 1.2rem;
  font-weight: bold;
  text-align: right;
  padding-right: 1.1rem;
}
.main-pg__ent__rc div:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
}
.main-pg__ent__rc div:nth-child(3) .fa-check {
  transform: rotate(0deg);
}
.main-pg__ent__rc:hover > div:nth-child(3) {
  transform: scaleX(1);
  text-align: center;
  width: 4rem;
  padding-top: 1.3rem;
  background-color: #99E2D0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: transform 1000ms;
}
.main-pg__ent__rc:hover > div:nth-child(3) .fa-check {
  transform: rotate(-360deg);
  font-size: 0.6rem;
  background-color: white;
  padding: 0.35rem;
  border-radius: 0.8rem;
  color: #72f5d4;
  transition: transform 1000ms;
}
.main-pg__ent__rc:hover > div:nth-child(1) > p {
  max-width: 220px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-pg__plt {
  transform: scaleX(1);
  animation: Menu 1000ms 2000ms both;
  transform-origin: center top;
}
.main-pg__plt > p:nth-child(1) {
  margin: 0px;
  font-size: 1rem;
  color: #5a5a5a;
  text-transform: uppercase;
}
.main-pg__plt hr {
  margin: 0px;
  width: 2.2rem;
  border: 1px solid #a1f9e3;
  margin-top: 0.35rem;
  margin-bottom: 1rem;
}
.main-pg__plt__rc {
  display: flex;
  align-items: stretch;
  width: 95%;
  height: 4.8rem;
  box-shadow: 5px 3px 20px #cccccc;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
}
.main-pg__plt__rc div:nth-child(1) {
  width: 75%;
}
.main-pg__plt__rc div:nth-child(1) p:nth-child(1) {
  padding: 0px;
  margin: 0px;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-pg__plt__rc div:nth-child(1) p:nth-child(2) {
  padding: 0px;
  margin: 0px;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
}
.main-pg__plt__rc div:nth-child(2) {
  width: 30%;
  padding-top: 1.2rem;
  font-weight: bold;
  text-align: right;
  padding-right: 1.1rem;
}
.main-pg__plt__rc div:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
}
.main-pg__plt__rc div:nth-child(3) .fa-check {
  transform: rotate(0deg);
}
.main-pg__plt__rc:hover > div:nth-child(3) {
  transform: scaleX(1);
  text-align: center;
  width: 4rem;
  padding-top: 1.3rem;
  background-color: #99E2D0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: transform 1000ms;
}
.main-pg__plt__rc:hover > div:nth-child(3) .fa-check {
  transform: rotate(-360deg);
  font-size: 0.6rem;
  background-color: white;
  padding: 0.35rem;
  border-radius: 0.8rem;
  color: #72f5d4;
  transition: transform 1000ms;
}
.main-pg__plt__rc:hover > div:nth-child(1) > p {
  max-width: 220px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-pg__dst {
  transform: scaleX(1);
  animation: Menu 1000ms 3000ms both;
  transform-origin: center top;
}
.main-pg__dst > p:nth-child(1) {
  margin: 0px;
  font-size: 1rem;
  color: #5a5a5a;
  text-transform: uppercase;
}
.main-pg__dst hr {
  margin: 0px;
  width: 3rem;
  border: 1px solid #a1f9e3;
  margin-top: 0.35rem;
  margin-bottom: 1rem;
}
.main-pg__dst__rc {
  display: flex;
  align-items: stretch;
  width: 95%;
  height: 4.8rem;
  box-shadow: 5px 3px 20px #cccccc;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
}
.main-pg__dst__rc div:nth-child(1) {
  width: 75%;
}
.main-pg__dst__rc div:nth-child(1) p:nth-child(1) {
  padding: 0px;
  margin: 0px;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-pg__dst__rc div:nth-child(1) p:nth-child(2) {
  padding: 0px;
  margin: 0px;
  font-size: 0.9rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
}
.main-pg__dst__rc div:nth-child(2) {
  width: 30%;
  padding-top: 1.2rem;
  font-weight: bold;
  text-align: right;
  padding-right: 1.1rem;
}
.main-pg__dst__rc div:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
}
.main-pg__dst__rc div:nth-child(3) .fa-check {
  transform: rotate(0deg);
}
.main-pg__dst__rc:hover > div:nth-child(3) {
  transform: scaleX(1);
  text-align: center;
  width: 4rem;
  padding-top: 1.3rem;
  background-color: #99E2D0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: transform 1000ms;
}
.main-pg__dst__rc:hover > div:nth-child(3) .fa-check {
  transform: rotate(-360deg);
  font-size: 0.6rem;
  background-color: white;
  padding: 0.35rem;
  border-radius: 0.8rem;
  color: #72f5d4;
  transition: transform 1000ms;
}
.main-pg__dst__rc:hover > div:nth-child(1) > p {
  max-width: 220px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-pg__btn {
  display: block;
  width: 11.2rem;
  margin: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  background: radial-gradient(farthest-corner at 12.5rem 5rem, #9356DC, #f779d3);
  border-radius: 2.1rem;
  padding: 1.2rem;
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 3px 10px silver;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.main-pg__btn:hover {
  box-shadow: 0.1rem 0.18rem 0.6rem #737373;
}
.main-pg__btn:hover::after {
  border-radius: 2.1rem;
  opacity: 1;
}
.main-pg__btn::after {
  border-radius: 2.1rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(farthest-corner at 12.5rem 5rem, #a16be0, #f891db);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

/*# sourceMappingURL=style.css.map */
