@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media (max-width: 468px) {
  body {
    width: 412px;
    background-color: white;
    font-family: sans-serif;
  }

  @keyframes Menu {
    0% {
      transform: scaleY(0);
    }
    17% {
      transform: scaleY(0.2);
    }
    24% {
      transform: scaleY(0.4);
    }
    46% {
      transform: scaleY(0.6);
    }
    85% {
      transform: scaleY(0.8);
    }
    100% {
      transform: scaleY(1);
    }
  }
  .header__logo {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 35px;
    width: 200px;
  }
  .header__logo img {
    height: 35px;
    width: 200px;
  }
  .header__localisation {
    border-top: 3px solid #d6d6d6;
    background-color: #ededed;
    color: #404040;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header__localisation p {
    margin: auto;
    width: 200px;
    padding-left: 8px;
    font-size: 1.1em;
  }
  .header__localisation i {
    padding-right: 10px;
    font-size: 0.9em;
  }
  .header__reservation {
    background-color: white;
    padding-bottom: 40px;
    padding-top: 55px;
  }
  .header__reservation h3 {
    margin: auto;
    text-align: center;
    width: 270px;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .header__reservation p {
    width: 280px;
    margin: auto;
    text-align: center;
    font-size: 1em;
    color: gray;
    margin-bottom: 30px;
  }
  .header__reservation__btn {
    width: 250px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: white;
    background: radial-gradient(farthest-corner at 200px 80px, #9356DC, #f779d3);
    border-radius: 35px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 2px 3px 10px silver;
    position: relative;
    z-index: 1;
  }
  .header__reservation__btn:hover {
    box-shadow: 2px 3px 10px #737373;
  }
  .header__reservation__btn:hover::after {
    border-radius: 35px;
    opacity: 1;
  }
  .header__reservation__btn::after {
    border-radius: 35px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(farthest-corner at 200px 80px, #a16be0, #f891db);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }

  .header-pages {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header-pages__logo {
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: left;
    margin-left: 30px;
  }
  .header-pages__logo__fleche {
    display: block;
    color: #5a5a5a;
    padding-top: 8px;
  }
  .header-pages__logo__fleche .fa-arrow-left {
    font-size: 1.4em;
    font-weight: bold;
  }
  .header-pages__logo__lgo {
    width: 300px;
    text-align: center;
  }
  .header-pages__logo__lgo img {
    height: 35px;
    width: 170px;
  }
  .header-pages__image {
    overflow: hidden;
  }
  .header-pages__image img {
    width: 420px;
    height: 305px;
    object-fit: cover;
  }

  .fonctionnement {
    margin: auto;
  }
  .fonctionnement__heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;
  }
  .fonctionnement__etape {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 85%;
    border-radius: 20px;
    box-shadow: 2px 3px 10px #d9d9d9;
    background-color: white;
    margin-bottom: 20px;
  }
  .fonctionnement__etape__lg {
    text-align: center;
    width: 40px;
    font-size: 1em;
    color: #8d8d8d;
  }
  .fonctionnement__etape__hd {
    padding-left: 10px;
    width: 200px;
  }
  .fonctionnement__etape__hd p {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    font-weight: 700;
  }
  .fonctionnement__etape .fa-1, .fonctionnement__etape .fa-2, .fonctionnement__etape .fa-3 {
    position: relative;
    left: -8px;
    background-color: #9356DC;
    color: white;
    font-size: 0.6em;
    padding: 8px;
    height: 7px;
    border-radius: 20px;
  }
  .fonctionnement__etape--modifier {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 85%;
    border-radius: 20px;
    box-shadow: 2px 3px 10px #d9d9d9;
    background-color: #fdd9f3;
    margin-bottom: 20px;
  }
  .fonctionnement__etape--modifier__lg {
    text-align: center;
    width: 40px;
    font-size: 1em;
    color: #9356DC;
  }
  .fonctionnement__etape--modifier__hd {
    padding-left: 10px;
    width: 200px;
  }
  .fonctionnement__etape--modifier__hd p {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    font-weight: 700;
  }
  .fonctionnement__etape--modifier .fa-1, .fonctionnement__etape--modifier .fa-2, .fonctionnement__etape--modifier .fa-3 {
    position: relative;
    left: -8px;
    background-color: #9356DC;
    color: white;
    font-size: 0.6em;
    padding: 8px;
    height: 7px;
    border-radius: 20px;
  }

  .main {
    margin-top: 70px;
    background-color: #f6f6f6;
    padding: 5px;
  }
  .main__heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;
  }
  .main__card {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 5px;
    padding-bottom: 30px;
  }
  .main__card__content {
    margin-bottom: 25px;
    position: relative;
    box-shadow: 2px 3px 10px #d9d9d9;
    background-color: white;
    width: 90%;
    height: 260px;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
  }
  .main__card__content__image {
    height: 180px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .main__card__content__image .image1 {
    position: relative;
    top: -50px;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .main__card__content__image .image2 {
    position: relative;
    top: -65px;
    width: 360px;
    height: 240px;
    object-fit: cover;
  }
  .main__card__content__image .image3 {
    position: relative;
    top: -60px;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .main__card__content__image .image4 {
    position: relative;
    top: -65px;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  .main__card__content__description {
    display: flex;
    justify-content: space-between;
  }
  .main__card__content__description__heading h5 {
    margin: 0px;
    font-size: 1.1em;
    padding-top: 15px;
    font-weight: bold;
    padding-left: 15px;
  }
  .main__card__content__description__heading h6 {
    margin: 0px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1em;
    font-weight: 500;
  }
  .main__card__content__description__icon {
    margin-right: 35px;
    padding-top: 15px;
    font-size: 1.6em;
  }
  .main__card__content__description__icon .fa-heart {
    color: #8d8d8d;
  }
  .main__card__content__description__icon .fa-heart:hover {
    color: #9356DC;
  }
  .main__card--modifier {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 5px;
    padding-bottom: 30px;
  }
  .main__card--modifier__content {
    margin-bottom: 25px;
    position: relative;
    box-shadow: 2px 3px 10px #d9d9d9;
    background-color: white;
    width: 90%;
    height: 260px;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
  }
  .main__card--modifier__content__image {
    height: 180px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .main__card--modifier__content__image .image1 {
    position: relative;
    top: -50px;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .main__card--modifier__content__image .image2 {
    position: relative;
    top: -65px;
    width: 360px;
    height: 240px;
    object-fit: cover;
  }
  .main__card--modifier__content__image .image3 {
    position: relative;
    top: -60px;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .main__card--modifier__content__image .image4 {
    position: relative;
    top: -65px;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  .main__card--modifier__content__description {
    display: flex;
    justify-content: space-between;
  }
  .main__card--modifier__content__description__heading h5 {
    margin: 0px;
    font-size: 1.1em;
    padding-top: 15px;
    font-weight: bold;
    padding-left: 15px;
  }
  .main__card--modifier__content__description__heading h6 {
    margin: 0px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1em;
    font-weight: 500;
  }
  .main__card--modifier__content__description__icon {
    margin-right: 35px;
    padding-top: 15px;
    font-size: 1.6em;
  }
  .main__card--modifier__content__description__icon .fa-heart {
    color: #8d8d8d;
  }
  .main__card--modifier__content__description__icon .fa-heart:hover {
    color: #9356DC;
  }
  .main__card--modifier__new {
    text-align: center;
    position: absolute;
    top: 12px;
    right: 43px;
    z-index: 1;
    width: 80px;
    height: 22px;
    background-color: #a1f9e3;
    color: #0a916f;
    font-weight: bolder;
    font-size: 0.8em;
    padding-top: 5px;
    border-radius: 2px;
  }

  .main-pages {
    background-color: white;
    position: relative;
    border-radius: 55px;
    border: 1px solid white;
    top: -65px;
    z-index: 1;
    width: 98%;
    padding-left: 16px;
  }
  .main-pages__restaurant {
    display: flex;
    justify-content: space-between;
  }
  .main-pages__restaurant__icon {
    margin-right: 50px;
    padding-top: 30px;
  }
  .main-pages__restaurant__icon .fa-heart {
    color: #737373;
    font-size: 1.6em;
    font-weight: lighter;
  }
  .main-pages__restaurant p {
    font-family: "Shrikhand", cursive;
    margin-right: 15px;
    font-size: 1.8em;
    font-weight: 100;
  }
  .main-pages__entrees {
    transform: scaleX(1);
    animation: Menu 1000ms 1000ms both;
    transform-origin: center top;
  }
  .main-pages__entrees__heading {
    margin: 0px;
    font-size: 1em;
    color: #5a5a5a;
  }
  .main-pages__entrees hr {
    margin: 0px;
    width: 35px;
    border: 1px solid #a1f9e3;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .main-pages__entrees__recette {
    display: flex;
    align-items: stretch;
    width: 95%;
    height: 68px;
    box-shadow: 2px 3px 10px #d9d9d9;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .main-pages__entrees__recette__desc {
    width: 80%;
  }
  .main-pages__entrees__recette__desc p:nth-child(1) {
    padding: 0px;
    margin: 0px;
    padding-top: 12px;
    padding-left: 5px;
    font-size: 1em;
    font-weight: bold;
  }
  .main-pages__entrees__recette__desc p:nth-child(2) {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    padding-top: 8px;
    padding-left: 5px;
  }
  .main-pages__entrees__recette__prix {
    width: 10%;
    padding-top: 20px;
    font-weight: bold;
  }
  .main-pages__entrees__recette__check {
    width: 10%;
    transform: scale(0);
    text-align: center;
    width: 40px;
    padding-top: 22px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 450ms;
    transform-origin: right;
  }
  .main-pages__entrees__recette__check .fa-check {
    transform: rotate(0deg);
    transition: transform 450ms;
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    color: #a1f9e3;
  }
  .main-pages__entrees__recette:hover > .main-pages__entrees__recette__check {
    transform: scale(1);
    text-align: center;
    width: 40px;
    padding-top: 22px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .main-pages__entrees__recette:hover > .main-pages__entrees__recette__check .fa-check {
    transform: rotate(-360deg);
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    color: #a1f9e3;
  }
  .main-pages__plats {
    transform: scaleX(1);
    animation: Menu 1000ms 1000ms both;
    transform-origin: center top;
  }
  .main-pages__plats__heading {
    margin: 0px;
    font-size: 1em;
    color: #5a5a5a;
  }
  .main-pages__plats hr {
    margin: 0px;
    width: 35px;
    border: 1px solid #a1f9e3;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .main-pages__plats__recette {
    display: flex;
    align-items: stretch;
    width: 95%;
    height: 68px;
    box-shadow: 2px 3px 10px #d9d9d9;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .main-pages__plats__recette__desc {
    width: 80%;
  }
  .main-pages__plats__recette__desc p:nth-child(1) {
    padding: 0px;
    margin: 0px;
    padding-top: 12px;
    padding-left: 5px;
    font-size: 1em;
    font-weight: bold;
  }
  .main-pages__plats__recette__desc p:nth-child(2) {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    padding-top: 8px;
    padding-left: 5px;
  }
  .main-pages__plats__recette__prix {
    width: 10%;
    padding-top: 20px;
    font-weight: bold;
  }
  .main-pages__plats__recette__check {
    width: 10%;
    transform: scale(0);
    text-align: center;
    width: 40px;
    padding-top: 22px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 450ms;
    transform-origin: right;
  }
  .main-pages__plats__recette__check .fa-check {
    transform: rotate(0deg);
    transition: transform 450ms;
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    color: #a1f9e3;
  }
  .main-pages__plats__recette:hover > .main-pages__plats__recette__check {
    transform: scale(1);
    text-align: center;
    width: 40px;
    padding-top: 22px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .main-pages__plats__recette:hover > .main-pages__plats__recette__check .fa-check {
    transform: rotate(-360deg);
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    color: #a1f9e3;
  }
  .main-pages__dessert {
    transform: scaleX(1);
    animation: Menu 1000ms 1000ms both;
    transform-origin: center top;
  }
  .main-pages__dessert__heading {
    margin: 0px;
    font-size: 1em;
    color: #5a5a5a;
  }
  .main-pages__dessert hr {
    margin: 0px;
    width: 35px;
    border: 1px solid #a1f9e3;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .main-pages__dessert__recette {
    display: flex;
    align-items: stretch;
    width: 95%;
    height: 68px;
    box-shadow: 2px 3px 10px #d9d9d9;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .main-pages__dessert__recette__desc {
    width: 80%;
  }
  .main-pages__dessert__recette__desc p:nth-child(1) {
    padding: 0px;
    margin: 0px;
    padding-top: 12px;
    padding-left: 5px;
    font-size: 1em;
    font-weight: bold;
  }
  .main-pages__dessert__recette__desc p:nth-child(2) {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    padding-top: 8px;
    padding-left: 5px;
  }
  .main-pages__dessert__recette__prix {
    width: 10%;
    padding-top: 20px;
    font-weight: bold;
  }
  .main-pages__dessert__recette__check {
    width: 10%;
    transform: scale(0);
    text-align: center;
    width: 40px;
    padding-top: 22px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 450ms;
    transform-origin: right;
  }
  .main-pages__dessert__recette__check .fa-check {
    transform: rotate(0deg);
    transition: transform 450ms;
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    color: #a1f9e3;
  }
  .main-pages__dessert__recette:hover > .main-pages__dessert__recette__check {
    transform: scale(1);
    text-align: center;
    width: 40px;
    padding-top: 22px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .main-pages__dessert__recette:hover > .main-pages__dessert__recette__check .fa-check {
    transform: rotate(-360deg);
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    color: #a1f9e3;
  }
  .main-pages__btn {
    width: 180px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: white;
    background: radial-gradient(farthest-corner at 200px 80px, #9356DC, #f779d3);
    border-radius: 35px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 2px 3px 10px silver;
    position: relative;
    z-index: 1;
  }
  .main-pages__btn:hover {
    box-shadow: 2px 3px 10px #737373;
  }
  .main-pages__btn:hover::after {
    border-radius: 35px;
    opacity: 1;
  }
  .main-pages__btn::after {
    border-radius: 35px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(farthest-corner at 200px 80px, #a16be0, #f891db);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }

  .footer {
    width: 100%;
    margin-top: 8px;
    color: white;
    padding-left: 22px;
    padding-top: 12px;
    height: 230px;
    background-color: #404040;
  }
  .footer .fa-utensils {
    padding-right: 5px;
  }
  .footer__heading {
    font-family: "Shrikhand", cursive;
    font-size: 1.4em;
  }
  .footer__options {
    margin: 0px;
    margin-bottom: 12px;
    font-size: 1em;
    font-weight: bold;
  }
  .footer__options span {
    margin-left: 10px;
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=style.css.map */
