@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*{
    /* font-family: 'Shrikhand', cursive; */
    box-sizing: border-box;/* Opera/IE 8+ */
    -moz-box-sizing: border-box;/* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

@media  (max-width: 468px)
{

  body
  {
    width: 390px;
    background-color: white;
  }


  /* ************************Entete*************************************** */
  header
  {
    display: flex;
    flex-direction: column;
  }
  .logo 
  {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 55px;
    width: 100%;
    justify-content:left;
    margin-left: 40px;
  }
  .logo a
  {

    width: 60px;
    display: block;
    color:#7e7e7e;
    padding-top: 18px;

  }
  .logo img
  {

    height: 55px;
    width: 168px;
  }
  .header__image
  {
      width: 390px;
      height: 255px;
  }
   .header__image img
   {
    width: 390px;
    height: 255px;

   }
 /******************************************main**********************************/
  main
  {
    background-color: white;
    position:relative;
    border-radius: 25px;
    border:1px solid white;
    top:-22px;
    z-index: 1;
    width: 100%; 
    padding-left: 25px;
  }

  .restaurant
  {
      width: 80%;
      display: flex;
      justify-content: space-between;
  }
  .rest_heart
  {
    padding-top: 18px;
  }
  .recette
  {
      display: flex;
      justify-content: space-between;
      width: 348px;
      height: 68px;
      box-shadow:2px 3px 10px #d9d9d9;
      border-radius: 10px;
      margin-bottom: 20px;
  }
  .recette p
   {
     margin:0px;
     padding-top: 8px;
     padding-left: 8px;
   }
   .recette p:nth-child(1)
   {
     font-weight: bold;
   }
  .recette__desc
  {
    width: 70%;

  }
   .recette__prix
   {
     padding-top: 30px;
     width: 20%;

   }
   .recette__check
   {
     padding-top: 35px;
     width: 10%;

   }
   h5
   {
      font-weight: lighter;
       margin: 0px;
   }

    hr
    {
        margin: 0px;
        width: 30px;
        border: 1px solid #99E2D0;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    /* **************************************footer*************************** */
    footer
    {
        color:white;
        padding-left: 22px;
        padding-top: 12px;
        height: 200px;
        background-color: #353535;
    }
    footer h4
    {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
    }
    footer p
    {
        margin: 0px;
        margin-bottom: 8px;
        font-size: 1.1em;
        font-weight: bold;
    }
    .fa-utensils
    {
      padding-right: 5px;
    }
    footer p span
    {
        margin-left: 10px;
    }
    footer p span
    {
        margin-left: 10px;
    }
}