.footer
{
    margin-top: 8px;
    color:white;
    padding-left: 22px;
    padding-top: 12px;
    height: 230px;
    background-color:$clr_bg_footer;

    .fa-utensils
    {
        padding-right: 5px; 
    }

    &__heading
    {
        @include font-family;
        font-size: 1.4em;
    }
    &__options
    {
        margin: 0px;
        margin-bottom: 12px;
        font-size: 1.0em;
        font-weight: bold;
        
        span
        {
            margin-left: 10px;
            font-size: 1.1em;           
        }
    }
}