.footer
{
    color:$cl-blanche;
    padding-left: 1.6rem;
    padding-top: 1.3rem;
    height: 11rem;
    background-color:darken($cl-gris,60%);
    position: relative;
    width: 100%; 

    .fa-utensils
    {
        padding-right: .4rem; 
    }

    p:nth-child(1)
    {
        @include font-family;
        font-size: 1.3rem;
    }
    p
    {
        margin: 0px;
        margin-bottom: .8rem;
        font-size: 1.0rem;
        font-weight: bold;
        
        span
        {
            margin-left: .6rem;
            font-size: 1.1rem;           
        }
    }
    a{
        text-decoration: none;
        color: $cl-blanche;
        font-size: 1rem;
        font-weight: bold;
    }
}