.header-pages
{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    &__logo
    {
        display: flex;
        padding-top: 15px;
        padding-bottom: 10px;
        justify-content:left;
        margin-left: 30px;
        
        &__fleche
        {
            display: block;
            color:darken($cl-gris,50%);
            padding-top: 8px;

            .fa-arrow-left{
                font-size: 1.4em;
                font-weight: bold;
            }
        }
        &__lgo
        {

            width: 300px;
            text-align: center;
            
            img
            {                
                height: 35px;
                width: 170px; 
            }
        }
    }

    &__image
    {
        overflow: hidden;
        img
        {
            width: 420px;
            height: 305px; 
            object-fit: cover; 
        }
    }
}