.header
{
    
    &__logo
    {
        margin: auto;
        padding-top: 30px;
        padding-bottom: 20px;
        height: 35px;
        width: 200px;
        img
        {
            height: 35px;
            width: 200px;
        }
    }
    &__localisation
    {
        border-top: 3px solid  darken($cl-gris,1%);
        background-color: lighten($cl-gris,8%);
        color: darken($cl-gris,60%);
        padding-top: 15px;
        padding-bottom: 15px;

        p{
            margin: auto;
            width: 200px;
            padding-left: 8px;
            font-size: 1.1em;
        }

        i
        {
           padding-right: 10px;
           font-size: .9em;  
        } 
    }
    &__reservation
    {
        background-color: lighten($cl-gris,25%);
        padding-bottom: 40px;
        padding-top: 55px;
        h3
        {
            margin:auto;
            text-align: center;
            width: 270px;
            font-size:1.5em;
            font-weight: 700;
            margin-bottom: 15px;
        }
        p
        {
            width: 280px;
            margin:auto;
            text-align: center; 
            font-size: 1.0em; 
            color:darken($cl-gris,35%);
            margin-bottom: 30px;
            
        }
        &__btn
        {
          @include btn(250px);
        }

    }
}