.header-pages
{
    display: flex;
    flex-direction: column;
    
    &__logo
    {
        display: flex;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 55px;
        width: 100%;
        justify-content:left;
        margin-left: 40px;
        
        &__fleche
        {
           
            display: block;
            color:#444343;
            padding-top: 18px; 

            .fa-arrow-left{
                font-size: 1.5em;
                font-weight: bolder;
            }
        }
        &__lgo
        {

            width: 300px;
            text-align: center;
            margin-top: 15px;
            
            img
            {
                
                height: 35px;
                width: 170px; 
            }
        }
    }

    &__image
    {
        img
        {
            width: 412px;
            height: 255px;  
        }
    }
}