.header
{  

    &__logo
    {
        margin: auto;
        padding-top: 1.9rem;
        padding-bottom: 1.2rem;
        height: 2rem;
        width: 12.5rem;
        img
        {
            height: 100%;
            width: 100%;
        }
    }
    &__localisation
    {
        border-top: 3px solid  darken($cl-gris,1%);
        background-color: lighten($cl-gris,8%);
        color: darken($cl-gris,60%);
        padding-top: 1rem;
        padding-bottom: 1rem;

        p{
            margin: auto;
            width: 12.5rem;
            padding-left: .5rem;
            font-size: 1.1rem;
        }

        i
        {
           padding-right: .8rem;
           font-size: .9rem;  
        } 
    }
    &__reservation
    {
        background-color: lighten($cl-gris,10%);
        padding-bottom: 2.5rem;
        padding-top: 3.4rem;
        h2
        {
            margin:auto;
            text-align: center;
            width: 16.8rem;
            font-size:1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        p
        {
            width: 17.5rem;
            margin:auto;
            text-align: center; 
            font-size: 1.0rem; 
            color:darken($cl-gris,35%);
            margin-bottom: 2rem;            
        }
        a
        {
          @include btn(15.6rem);
        }
    }
}