
.main
{
    margin-top: 70px;
    background-color:#f6f6f6 ;
    padding: 5px;

    &__heading
    {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 10px;
        margin: 0px;
    }
    &__card
    {

        position: relative;
        cursor: pointer;
        text-decoration: none;
        color: black;
        display: block; 
        margin-top: 5px;

        &__content
        {
            margin-bottom: 25px;
            position: relative;
            box-shadow:2px 3px 10px #d9d9d9;
            background-color: white;
            width: 100%;
            height: 210px;
            border-radius: 15px;
           
            
            &__image
            { 
                width: 100%;
                height: 165px;
                overflow: hidden;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                .image1
                {
                    position: relative;
                    top: -60px;
                    width: 100%;
                    height: 230px;
                    object-fit:cover;
                     
                }
                .image2
                {
                    position: relative;
                    top: -45px;
                    width: 100%;
                    height: 210px;
                    object-fit:cover;

                }
                .image3
                {
                    position: relative;
                    top: -60px;
                    width: 100%;
                    height: 230px;
                    object-fit:cover;

                }
                .image4
                {
                    position: relative;
                    top: -65px;
                    width: 100%;
                    height: 240px;
                    object-fit:cover;

                }
            }
            &__description
            {
                display: flex;
                justify-content: space-between;

                &__heading
                {
                    h5
                    {
                        margin: 0px;
                        font-size: .8em;
                        padding-top: 6px;
                        padding-left: 10px;
                    }

                    h6
                    {
                        margin: 0px;
                        padding-left: 11px;
                        padding-top: 5px;
                        font-size: .6em;        
                        font-weight:500; 
                    }
                }
                &__icon
                {
                    margin-right: 20px;
                    padding-top: 9px;
                    color:gray;
                }
            }
        }

        &__new
        {
            text-align: center;
            position:absolute;
            top:10px;
            right: 15px;
            z-index: 1;
            width: 60px;
            height: 18px;
            background-color: #99E2D0;
            color: #0a916f;
            font-weight: bolder;
            font-size: .8em;
            padding-top: 3px;
        }
    }
}