.main
{
    margin-top: 4.3rem;
    background-color:#f6f6f6;
    padding: .4rem;

    &__heading
    {
       @include title;
    }
    &__card
    {
        @include card;
        &--modifier{
            @include card;
            &__new
            {
              @include card-new;
            }
        }
    }
}