.nav
{
    margin-top: 85px;

    &__heading
    {
        font-size: 1.0rem;
        font-weight: bold;
        margin-left: 20px;
    }  
    ul
    {
        width: 95%;
        margin: auto;
        list-style:none;  

        .fa-1,.fa-2,.fa-3
        {
            position: relative;
            font-size: .5em;
            background-color: #9356DC;
            top: 45px;
            left: -7px;
            padding: 6px;
            border-radius: 30px;
            color:white;
            z-index: 2;
        }
    }

    &__link
    {
        a
        {
            position: relative;
            padding-left: 25px;
            padding-top: 25px;
            display: block;
            height: 72px;
            width: 85%;
            border-radius: 20px;
            text-decoration: none;
            color:black;
            box-shadow:2px 3px 10px #d9d9d9;
            background-color:#f6f6f6 ; 

            i
            {
                margin:0px;
                padding:0px;
                color:#7e7e7e;
            }

            span
            {
                margin-left: 35px; 
            }
        }
        a:hover
        {
            background-color:#ff79da ; 
        }
    }

}