
.main-pages
{
    background-color: white;
    position:relative;
    border-radius: 55px;
    border:1px solid white;
    top:-65px;
    z-index: 1;
    width: 98%; 
    padding-left: 16px;
    
    &__restaurant
    {
        @include title-restaurant;
    }

    @each $division in $divisions {
        &__#{$division}{
            &__heading{
                margin: 0px;
                font-size: 1.0em;
                color: darken($cl-gris,50%);
            }
            hr
            {
                margin: 0px;
                width: 35px;
                border: 1px solid lighten($cl-tertiare, 50%);
                margin-top: 5px;
                margin-bottom: 15px;
        
            }
            &__recette
            {
                display: flex;
                align-items: stretch;
                width: 95%;
                height: 68px;
                box-shadow:2px 3px 10px #d9d9d9;
                border-radius: 15px;
                margin-bottom: 20px;
                cursor: pointer;
     
                &__desc
                {
                    width: 80%;
                    p:nth-child(1){            
                      padding: 0px;
                      margin: 0px;
                      padding-top: 12px;
                      padding-left: 5px;
                      font-size: 1.0em;
                      font-weight: bold;
                    }
                    p:nth-child(2){
                        padding: 0px;
                        margin: 0px;
                        font-size: .9em;
                        padding-top: 8px;
                        padding-left: 5px;
                    }
                }
                &__prix
                {
                    width: 10%;
                    padding-top: 20px;              
                    font-weight: bold;  
                }
                @include check;
            }
            transform: scaleX(1);
            animation: Menu 1000ms (1000ms) both;
            transform-origin: center top;
        } 
    }


    &__btn{
        @include btn(180px);
    }
}