.main-pages
{
    background-color: white;
    position:relative;
    border-radius: 3.4rem;
    border:1px solid white;
    top:-4rem;
    z-index: 1;
    width: 98%; 
    padding-left: 1rem;
    
    &__restaurant
    {
        @include title-restaurant;
    }

    @each $menu in $menus {
        &__#{nth($menu,1)}{
            &__heading{
                margin: 0px;
                font-size: 1.0rem;
                color: darken($cl-gris,50%);
            }
            hr
            {
                margin: 0px;
                width: 2rem;
                border: 1px solid lighten($cl-tertiare, 50%);
                margin-top: .35rem;
                margin-bottom: 1rem;
        
            }
            &__recette
            {
                display: flex;
                align-items: stretch;
                width: 95%;
                height: 4.1rem;
                box-shadow:2px 3px 10px #d9d9d9;
                border-radius: 1rem;
                margin-bottom: 1.2rem;
                cursor: pointer;
     
                &__desc
                {
                    width: 80%;
                    p:nth-child(1){            
                      padding: 0px;
                      margin: 0px;
                      padding-top: .8rem;
                      padding-left: .3rem;
                      font-size: 1.0rem;
                      font-weight: bold;
                    }
                    p:nth-child(2){
                        padding: 0px;
                        margin: 0px;
                        font-size: .7rem;
                        padding-top: .5rem;
                        padding-left: .3rem;
                    }
                }
                &__prix
                {
                    width: 10%;
                    padding-top: 1.2rem;              
                    font-weight: bold;  
                }
                @include check;
            }
            transform: scaleX(1);
            animation: Menu 1000ms #{nth($menu,2)} both;
            transform-origin: center top;
        } 
    }

    &__btn{
        @include btn(11.2rem);
    }
}