
//chargement de la page
.chargement{
    margin: auto;
   // width:25rem;
   width: 100%;
    position: absolute;
    z-index: 0;
    top: 38vh;

    p{
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
    }
    &__progress{
        width: 100%;
        position: absolute;
        z-index: 0;
        height: 2.5rem;
        opacity: 1;
        border-radius: 15px;
        background-color:$cl-primaire;
        margin: auto;
        transform-origin: left;
        transform: scaleX(0);
        animation: progress-bar 1000ms 500ms;

    }
}

.content {
    //margin :auto;
    //width: 25.875rem;
    width: 100%;
    position:relative;
    overflow: hidden;
    z-index: 1;
    animation:content-page 1000ms 1200ms both;
}

.fonctionnement
{

    h2
    {
        @include title;
    }  
    &__etape
    {
        @include etape;
        &:hover{
          @include etape(lighten($cl-secondaire,20%), $cl-primaire);
        }
    }
}

//main principal
.main
{
    margin-top: 4.3rem;
    background-color:#f6f6f6;
    padding: .4rem;

    &__heading
    {
       @include title;
    }
    &__card
    {
        @include card;
        &--md{
            @include card;
            &__new
            {
              @include card-new;
            }
        }
    }
}

