//animation des menus pages
@keyframes Menu{
    0% {
        transform: scaleY(0);
      }
      17% {
          transform: scaleY(.2);
      }
      24% {
          transform: scaleY(.4);
      }
      46% {      
          transform: scaleY(.6);
      }
      85% {
        transform: scaleY(.8);
      }
      100% {      
          transform: scaleY(1);
      }
}

//animation au chargement index
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: .1;
  }
  17% {
      transform: scaleX(.18);
  }
  24% {
      transform: scaleX(.4);
      animation-timing-function: cubic-bezier(.9,0,.1,1);
  }
  46% {      
      transform: scaleX(.81);
  }
  85%,100% {
    opacity: 1;
  }
  100% {      
      transform: scaleX(1);
  }
}
@keyframes content-page {
    0% {
      transform: translateX(-9999px);
    }
  
    100% {      
        transform: translateX(0);
    }
}


 //animation hover check
@keyframes check-rotation{
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }
    
    50% {
      transform: rotate(-180deg);
      opacity: .5;
    }

    100% {      
        transform: rotate(-360deg);
        opacity: 1;
    }
}
@keyframes check-animation{
      0% {  
        opacity: 0;
      }
  
      50%{
        opacity:.5;
      }
      100% {      
          opacity: 1;
      }
}