@mixin etape($color-bg:lighten($cl-gris,15%),$color-ico:lightness-shift($cl-gris)){
    margin-left: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4.3rem;
    width: 90%;
    border-radius: 1.25rem;
    box-shadow:2px 3px 10px $cl-gris;
    background-color:$color-bg; 
    margin-bottom: 1.25rem;
    cursor: pointer;
     

    .fa-1,.fa-2,.fa-3
    {
        position: relative;
        left: -.5rem;
        background-color: $cl-primaire;
        color:white;
        font-size: .6rem;
        padding: .5rem;
        height: .45rem;
        border-radius: 1.25rem;
    }

    div:nth-child(2)
    {
        text-align: center;
        width: 2.5rem;
        font-size: 1.0rem; 
        color:$color-ico;
    }

    div:nth-child(3) 
    {
        padding-left: .6rem;
        width: 12.5rem; 
        p{
            padding: 0px;
            margin: 0px;
            font-size: .9rem;
            font-weight: 700;
        }
    }


}

@mixin title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 1.25rem;
    margin-top: 2.5rem;
}

@function lightness-shift($colour){
    @debug lightness($colour); 
    @if ( lightness($colour)  > 50% ) {
        @return darken($colour, 30%);
    }
}


@mixin btn($width:11.2rem,$padding:1.2rem)
{
    display: block;
    width: $width;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color:$cl-blanche;
    background: radial-gradient(farthest-corner at 12.5rem 5rem  ,$cl-primaire,$cl-secondaire);
    border-radius: 2.1rem;
    padding: $padding;
    margin-top: 3rem;
    font-size: 1.0rem;
    font-weight: bold;
    box-shadow:2px 3px 10px darken($cl-gris,10%);
    position: relative;
    z-index: 1;
    cursor: pointer;

   &:hover {
      box-shadow:.1rem .18rem .6rem darken($cl-gris,40%);
        &::after {
            border-radius: 2.1rem;
            opacity: 1;
        }
      }

    &::after { 
      border-radius: 2.1rem;
      content: "";           
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: radial-gradient(farthest-corner at 12.5rem 5rem  ,lighten($cl-primaire,5),lighten($cl-secondaire,5));
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
  }
}

@mixin card-new{

    text-align: center;
    position:absolute;
    top:.8rem;
    right: 2.8rem;
    z-index: 1;
    width: 5.5rem;
    height: 1.6rem;
    background-color: lighten($color: $cl-tertiare, $amount: 50%);
    color: $cl-tertiare;
    font-weight: bolder;
    font-size: .9rem;
    padding-top: .35rem;
    border-radius: .12rem;
}

@mixin font-family{
    font-family: 'Shrikhand', cursive; 
}


@mixin card{

    position: relative;
    cursor: pointer;
    text-decoration: none;
    color:$cl-noir;
    display: block; 
    margin-top: .4rem;
    padding-bottom: 1.8rem;

    &__content
    {
        margin-bottom: 1.5rem;
        position: relative;
        box-shadow:2px 3px 10px #d9d9d9;
        background-color: white;
        width: 92%;
        height: 16.2rem;
        border-radius: 1rem;
        margin-left: 1rem;

        div:nth-child(1)
        { 
            height: 11.2rem;
            overflow: hidden;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;

            .image1
            {
                position: relative;
                top: -3.1rem;
                width: 100%;
                height: 14.3rem;
                object-fit:cover;
                 
            }
            .image2
            {
                position: relative;
                top: -4rem;
                width: 22.5rem;
                height: 15rem;
                object-fit:cover;

            }
            .image3
            {
                position: relative;
                top: -3.75rem;
                width: 100%;
                height: 14.3rem;
                object-fit:cover;
            }
            .image4
            {
                position: relative;
                top: -4rem;
                width: 100%;
                height: 15rem;
                object-fit:cover;
            }
        }
        div:nth-child(2)
        {
            height: 5rem; 
            display: flex;
            justify-content: space-between;
      
            div:nth-child(1)
            {
                height: 5rem;
                h3
                {
                    margin: 0px;
                    padding: 0px;
                    font-size: 1.1rem;
                    padding-top: 1rem;
                    font-weight: bold;
                    padding-left: 1rem;
                }

                h4
                {
                    margin: 0px;
                    padding: 0px;
                    padding-left: 1rem;
                    padding-top: .4rem;
                    font-size: 1.0rem;        
                    font-weight:500; 
                }
            }
            div:nth-child(2)
            {
                height: 1.9rem;
                margin-right: 2.1rem;
                margin-top: 1rem;
                font-size: 1.9rem;
                
                .fa-regular{
                    height:2rem;
                    width: 2rem;
                    cursor: pointer;
                    font-size: 2rem;
                    color:darken($cl-gris,5%);                
                    position:relative;
                    z-index: 1;

                    &:hover{
                        color: $cl-primaire;
                        &::after{
                            opacity: 1;
                        }  
                    }
                    &::after{
                        content: "";
                        margin-block-end: 3px;
                        position: absolute;
                        border-bottom-left-radius: 18px;
                        border-bottom-right-radius: 18px;
                        top: .35rem;
                        right: .24rem;
                        bottom: .15rem;
                        overflow: hidden;
                        left: .18rem;
                        background-color:$cl-primaire;
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 250ms;
                    } 
                }       
            }
        }
    }
}
