$cl-primaire:#9356DC;
$cl-secondaire:#f779d3;
$cl-tertiare:#0a916f;
$cl-gris:#d9d9d9;
$cl-blanche:white;
$cl-noir:black;
$cl-green:#99E2D0;

$menus:
 ent 1000ms 3rem,
 plt 2000ms 2.2rem,
 dst 3000ms 3rem;
